/* .browse-header{
    display:flex;
    justify-content: space-between;

} */

.browse-header{
    /* box-shadow: 6px 3px 5px black; */
    width:98%;
    height:5rem;
    display: flex;;
    justify-content: space-evenly;
} 
.browse-header .btn{
    width:5rem;
    /* border:1px solid red; */
    margin:1rem;
    background-color: #F6EFD2;
    color:#000;
    opacity: 0.5;
    font-size: 0.75rem;
}
.browse-header .btn:hover{
    opacity:1;
    border: 1px solid black;
    border-top-left-radius: 2rem;
    background-color: #F6EFD2;
    font-weight:bold;
    border:2px solid black;

}
.browse-header .GPT{
    width:7rem;
    font-size: 0.75rem;
    opacity:0.9;
    font-weight:bold;
    background-color: purple;
    color:#fff;
}
.browse-header .GPT:hover{
    border-top-left-radius: 0;
    border:none;
    border:2px solid black;
    outline: none;
    border-radius:10px;

}
.sele{
    border:none;
}

