.login{
    background-image: linear-gradient(#0000007e,#0000007e),url("https://assets.nflxext.com/ffe/siteui/vlv3/258d0f77-2241-4282-b613-8354a7675d1a/web/IN-en-20250721-TRIFECTA-perspective_cadc8408-df6e-4313-a05d-daa9dcac139f_small.jpg");
    height:200vh;
    padding:20px 8%;
}
.login-form{
   
    max-width: 26rem;
    background:rgba(0,0,0,0.75);
    border-radius: 0.25rem;
    padding:3rem;
    margin:auto;
    position: relative;
    top:5rem;
    padding-top:2rem;
    
     
}
.login-form h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom:1rem;
    color:#fff;
}
.login-form input{
    width: 100%;
    height:3rem;
    /* background-color: #333; */
    background:transparent;
    color:#fff;
    margin:0.5rem 0;
    border:0;
    outline:0;
    border:1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    padding:1rem;
    font-size: 1rem;
    font-weight: 500;
}
.login-form input::placeholder{
    font-size:1rem;
    font-weight: 500;
    color:#fff;
    opacity:0.4;
    
}
.login-form input:hover{
     border:2px solid rgba(255, 255, 255, 0.5);
}
.login-form button{
    width:100%;
    border:0;
    outline:0;
    /* padding:0.5rem; */
    background-color: #e50914;
    color:#fff;
    border-radius:0.25rem;
    font-size:1rem;
    font-weight: 500;
    margin-top:1rem;
    cursor:pointer;
    height:2rem;

}
.login-form button:hover{
    border:2px solid black;
}
.form-help{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:#b3b3b3;
    font-size:1rem;
    /* border:1px solid red; */
    padding:0.5rem;
}
.form-help p{
    margin:0.5rem;
}
.remember{
    display: flex;
    align-items: center;
    gap:5px;
}
.remember input{
    width:1rem;
    height:1rem;
}
.form-switch{
    margin-left: 1.5rem;
    margin-top:1.5rem;
}
.form-switch p{
    color:rgba(255, 255, 255, 0.5);
    font-size:0.9rem;

}
.form-switch span{
    color:#fff;
    cursor:pointer;
}
i{
    position: relative;
    top:-2.8rem;
    left:18rem;
    color:#fff;
    cursor:pointer;
}
.error{
    color:red;
}

@media  (max-width:500px){
    .login{
        padding:15px 5%;

    }
    .login-form{
        padding:20px;
        margin-top:30px;
    }
    .login-form h1{
        text-align: center;
    }
}
